{%extends 'base.html' %}
{%block title%} Registeration {%endblock%}
{% block content %}
    <div class="container p-5" style="background-color:black;color:white;margin-top:9rem;">
        <form action="{% url 'register' %}" method="post" style="padding:0px 90px 0px 90px;">
            {% csrf_token %}
  <div class="form-row">
      <div class="form-group col-md-6">
      <label>First name</label>
      <input type="text" class="form-control"  placeholder="First name" name="first_name">
    </div>
       <div class="form-group col-md-6">
      <label>Last name</label>
      <input type="text" class="form-control" placeholder="Last name" name="last_name">
    </div>
  </div>
            <div class="form-row">
                <div class="form-group col-md-6">
      <label>User name</label>
      <input type="text" class="form-control"  placeholder="User name" name="Username">
    </div>
    <div class="form-group col-md-6">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Email" name="email">
    </div>

  </div>
            <div class="form-row">
    <div class="form-group col-md-6">
      <label>Password</label>
      <input type="Password" class="form-control" placeholder="password" name="password1">
    </div>
    <div class="form-group col-md-6">
      <label>Confirm Password</label>
      <input type="password" class="form-control" placeholder="Confirm Password" name="password2">
    </div>
  </div>
<!--            <div class="form-group">-->
<!--    <label for="exampleFormControlTextarea1">Bio</label>-->
<!--    <textarea class="form-control" name="bio" id="exampleFormControlTextarea1" rows="3"></textarea>-->
<!--  </div>-->
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
    </div>
<!--<div class="containet">-->
<!--    {% for message in messages %}-->
<!--    <h2>{{message}}</h2>-->
<!--    {% endfor %}-->
<!--</div>-->
<div class="container">
<!--    <div class="alert alert-warning" role="alert"></div>-->
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {% for message in messages %}
            <h2>{{message}}</h2>
        {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>
{% endblock %}